<form action="" method="post">
    <fieldset>
        <legend>Wypełnij dane</legend>

        {% embed 'common/input/selectbox/tags.twig' with {"options": undeclaredEmployees, "selected": request.persons} %}
            {% block id 'persons' %}
            {% block name 'persons[]' %}
            {% block title 'Imię i nazwisko' %}
            {% block attributes %}
                required="required"
                data-placeholder="Wybierz siebie z listy lub zadeklaruj więcej osób"
            {% endblock %}
        {% endembed %}

        {% embed 'common/input/selectbox/single.twig' with {"options": container.config.culinary.restaurants} %}
            {% block name 'restaurant' %}
            {% block title 'Restauracja' %}
            {% block attributes %}
                required="required"
                data-placeholder="Wybierz restaurację"
            {% endblock %}
        {% endembed %}

        {% embed 'common/input/textarea/default.twig' %}
            {% block name 'description' %}
            {% block title 'Co chcesz zjeść?' %}
            {% block attributes %}
                required="required"
                placeholder="Wprowadź numer zamówienia i ewentualne dodatki"
            {% endblock %}
        {% endembed %}

        {% embed 'common/input/editbox/default.twig' %}
            {% block name 'price' %}
            {% block title 'Cena zamówienia' %}
            {% block type 'number' %}
            {% block attributes %}
                step="0.01"
                required="required"
                placeholder="Wprowadź łączną cenę twojego zamówienia"
            {% endblock %}
        {% endembed %}

        <div class="checkbox text-center" style="padding:20px 0">
            <label data-toggle="collapse" data-target="#collapseOne">
                <input type="checkbox"/>
                Wyrażam zgodę na przetwarzanie moich danych osobowych i preferencji kulinarnych
                dla potrzeb niezbędnych do realizacji procesu zamawiania żarcia na kulinarne piątki <br/>
                (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; tekst jednolity:
                Dz. U. z 2002r. Nr 101, poz. 926 ze zm.)
            </label>
        </div>

        <div id="collapseOne" class="text-center collapse">
            <button type="submit" class="btn btn-primary">
                Zadeklaruj się
            </button>
        </div>
    </fieldset>
</form>
