{% set id = block('id') is defined ? block('id') : block('name') %}
{% set value = block('value') is defined ? block('value') : request[block('name')] %}

<div class="form-group">
    <label for="{{ id }}">
        {% block title '' %}
    </label>
    <input
            id="{{ id }}"
            name="{% block name '' %}"
            class="form-control {% block class '' %}"
            style="{% block style '' %}"
            {% block attributes '' %}
            type="{{ block('type') | default('text') }}"
            value="{{ value }}">
</div>